In [209]:
import pandas as pd
import random
from collections import OrderedDict
import numpy

In [5]:
data = pd.read_csv('Comprehensive_Banking_Database (1).csv', sep=";")

In [8]:
data.sort_values(by='Contact Number')

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
1222,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,50.09,20/11/2023,09/03/2023,4761,4590,11/11/2023,Complaint,Pending,19/05/2023,-1
1754,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,144.05,08/05/2023,12/04/2023,6437,4920,15/06/2023,Suggestion,Pending,17/03/2023,1
3377,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,158.09,09/12/2023,15/06/2023,8679,931,07/04/2023,Suggestion,Resolved,04/11/2023,1
1487,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,27.64,17/08/2023,13/04/2023,2268,3110,05/11/2023,Complaint,Pending,19/04/2023,1
314,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,44.50,02/05/2023,08/09/2023,9086,1797,21/11/2023,Complaint,Pending,28/08/2023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2641,4996,Emily,Sanchez,21,Other,Address_4996,Mesa,19458799849,emily.sanchez@kag.com,Savings,...,228.96,13/06/2023,18/02/2023,6193,1389,03/08/2023,Praise,Pending,26/10/2023,1
157,4997,Melissa,Perez,27,Female,Address_4997,Los Angeles,19458799850,melissa.perez@kag.com,Savings,...,35.35,13/10/2023,06/10/2023,150,125,03/08/2023,Praise,Pending,19/09/2023,1
3245,4998,Timothy,Walker,45,Female,Address_4998,Louisville,19458799851,timothy.walker@kag.com,Current,...,213.00,20/03/2023,18/06/2023,5049,3190,11/05/2023,Praise,Pending,12/11/2023,1
3767,4999,Deborah,Nelson,58,Female,Address_4999,Detroit,19458799852,deborah.nelson@kag.com,Current,...,50.65,09/09/2023,07/01/2023,8429,4547,30/09/2023,Praise,Pending,08/08/2023,1
4444,5000,Daniel,Martinez,35,Male,Address_5000,El Paso,19458799853,daniel.martinez@kag.com,Current,...,178.56,19/07/2023,23/04/2023,6760,2756,01/03/2023,Suggestion,Resolved,06/04/2023,1

In [10]:
!pip install Faker

Collecting Faker
  Downloading faker-37.6.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /home/debtcmp/miniconda3/lib/python3.13/site-packages (from Faker) (2025.2)
Downloading faker-37.6.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 3.6 MB/s eta 0:00:00[31m2.8 MB/s eta 0:00:01
Installing collected packages: Faker
Successfully installed Faker-37.6.0

In [74]:
from faker import Faker
fake = Faker('id_ID')
for _ in range(1000):
    print(fake.phone_number())

+62 (0439) 703 7069
+62 (072) 313 2359
+62 (0571) 377 8363
+62-289-278-3699
080 409 7092
+62-78-010-2209
+62 (031) 395-1407
+62-0059-607-3819
(0444) 614-2716
(039) 541 6671
(067) 795 3632
+62-03-413-3104
+62-0602-269-9666
0859054142
0827313779
(041) 019-1810
(052) 839-6836
+62 (127) 506 6063
+62 (74) 055 2879
+62 (066) 757 7713
0899130985
+62-440-895-7589
+62 (035) 388-9197
+62-373-199-8146
+62 (866) 797 1986
+62 (0317) 641-0584
(048) 255-5756
+62 (12) 895-6508
+62 (0703) 828-3767
+62 (032) 320-3775
(021) 542-7945
+62 (81) 647-4095
(061) 051-1532
(016) 730-7980
085 921 8718
(0218) 354 1013
(012) 335 3717
+62 (0977) 960-1677
+62 (54) 759 6016
+62-032-051-1990
+62 (839) 897 3780
(0555) 010-1514
+62-0915-551-7968
+62 (0513) 975-9609
+62 (26) 905 8028
+62 (0050) 029 1651
(0302) 488 9210
+62-39-273-9026
+62-0746-035-8050
+62 (076) 777-5391
+62-0611-960-2594
+62 (0000) 625 5249
+62 (050) 914 1597
+62-077-440-0403
0853382094
+62-685-232-3739
0806351240
+62-0381-405-3175
+62 (0975) 923 2914
(0221) 595-3327
+62 (926) 655 8969
+62 (0511) 728 2890
+62-066-107-6592
(0973) 830-8249
+62 (049) 056-4405
+62 (04) 837 5632
+62-066-453-4354
0817230044
+62 (086) 308 2028
+62 (094) 181 5911
+62-77-424-8927
(054) 765-6998
+62 (0275) 683 8410
+62 (0083) 368-4372
+62 (193) 641 6620
(062) 956 4286
(010) 650-9655
+62 (0825) 030-5968
+62-0877-425-7988
(0546) 404-8018
(042) 741-5388
+62 (331) 771-5446
0800586511
+62 (056) 504 0379
(0503) 610-3309
+62 (048) 501 1875
(011) 294 9388
+62 (916) 398 7556
+62 (34) 786-4067
(0498) 341 6009
+62-056-265-9953
+62 (044) 221 9186
+62 (08) 285 5424
+62 (152) 641 9797
+62 (36) 263-1561
+62-048-313-1625
+62 (094) 697 1491
+62-0004-243-9446
+62 (028) 140 2990
0846054777
+62 (871) 474-2415
+62 (067) 298-2610
+62-0747-165-9507
(0861) 456-8839
+62 (091) 753-6644
+62 (0643) 183 9989
+62-052-513-4869
+62 (12) 069 9194
+62-037-458-0387
(0299) 349-9896
+62 (20) 454 8915
+62-73-821-2896
(0326) 748-4585
(0674) 156-0258
+62 (0813) 279 5741
+62 (020) 691 3037
+62 (057) 126 1565
+62-84-928-1175
+62 (54) 970-7820
+62 (0170) 371-1916
(0535) 998-4967
+62 (0307) 189-3046
+62-108-798-6554
(051) 523-5261
+62 (65) 580-7206
0873831774
+62 (0929) 482-8481
(075) 418-6364
(0676) 234-2963
081 689 5063
+62-020-542-2014
+62 (609) 585 7064
(0717) 995-7585
+62-83-270-5492
(034) 010 0453
+62 (122) 375 7607
(0646) 677-1527
(0038) 067-2106
+62 (27) 002-4042
(041) 336-3916
+62 (066) 696 5114
+62 (91) 773-5200
+62 (16) 426 7256
+62-15-783-9478
(0417) 565 1745
+62-0086-604-2368
(061) 586-7303
+62-72-015-7726
089 912 2367
+62 (015) 752 8623
+62 (60) 156-4868
0854682464
+62-46-528-4891
+62-090-333-8691
+62-040-493-5418
+62-316-092-9073
+62-0860-314-3670
+62 (169) 072 1734
+62 (004) 911 9875
+62 (95) 568-7537
+62-016-960-4920
(0614) 962-9368
+62 (0767) 284-5736
+62 (031) 470 3706
+62 (522) 463 2227
+62 (074) 573-3259
+62 (18) 760 2949
(0371) 632-1552
(034) 241 8353
+62 (023) 369-6752
+62-029-198-7744
+62-950-375-9013
086 436 9636
+62-040-575-4209
(092) 453 9256
+62 (42) 381 9820
+62 (292) 616-9270
+62-422-448-7998
+62-090-773-9984
0807171095
+62-673-402-5118
081 370 0073
(0858) 130 3456
+62 (0410) 366-3624
+62 (0858) 591-6282
+62 (023) 357-0308
(021) 602 9534
(0247) 142-7980
+62 (074) 624-7904
+62-08-064-1379
+62 (0468) 154 5900
+62 (62) 809 3895
+62-642-755-1547
+62 (0161) 099-8471
(0579) 870 0299
0856358376
(0279) 800-2019
(049) 733 8902
+62-044-744-8082
+62 (090) 434 0970
(0169) 190-1241
(0740) 906 4899
+62-078-771-8034
+62-051-194-3482
+62-140-944-4071
+62-19-782-6725
+62 (070) 682-9319
+62 (07) 082 6234
+62 (047) 585-1571
+62 (0087) 591-6310
+62 (533) 122 3757
+62 (0325) 060-0087
+62 (0180) 096-6570
(0909) 465-4786
(046) 958-5832
+62 (0388) 635 8956
+62 (082) 669-4546
(031) 415-2401
+62-0910-577-3512
+62 (0446) 748-5692
+62-111-860-5657
+62-077-224-6915
+62-79-118-4241
+62 (595) 711-9741
+62 (780) 860-2293
+62-047-222-5116
081 894 9055
+62 (0736) 498 5737
+62 (008) 790 2310
+62 (245) 259-4739
+62 (480) 252 8776
+62 (935) 582 1458
+62 (043) 069 9339
(0397) 455-7668
(033) 466-5720
+62 (328) 361-1920
+62 (42) 874 2212
+62 (061) 909-8209
(063) 895-4498
+62 (044) 297-2523
+62-086-442-3453
+62 (009) 384-3719
+62 (86) 515-5915
(078) 811 2109
+62-12-612-6926
+62 (77) 081 1860
+62 (005) 575 2894
(056) 796-6305
+62 (97) 952-7855
+62 (0380) 446-9692
+62-99-773-1752
+62-0134-724-4938
+62-041-799-4016
+62-0143-003-8303
+62 (011) 557-6969
+62-0760-335-6927
084 770 2129
+62 (15) 452-5371
(089) 724 5786
089 652 2054
+62 (11) 455-9153
+62 (0452) 664-6342
+62 (92) 662-3650
+62 (745) 350-4792
(025) 555 1712
+62-0794-011-3305
+62-0219-828-1914
+62 (71) 025-3032
(0562) 085-0738
(011) 416-3466
+62 (091) 701-9698
+62 (022) 578-5104
(0769) 331-9364
+62-0115-235-8845
0895889485
0824113737
+62 (0927) 479 4724
+62 (0937) 691-1016
+62 (086) 758-1449
+62 (231) 628-1408
084 805 0190
+62 (46) 613-7798
+62 (0436) 711-8647
(0863) 741-3265
(0717) 428 8461
(029) 317-5101
+62 (63) 920 7418
+62 (019) 440-2188
+62-0070-572-8219
+62 (385) 905 5099
+62 (094) 689-3907
+62 (0126) 125-0638
+62 (014) 788-4048
(0356) 433 7690
+62-0647-888-8235
087 720 5533
+62 (092) 282-6266
+62 (595) 558 4317
+62-39-133-0524
+62 (47) 865-3478
+62 (345) 467-8752
+62-37-041-4337
(023) 237-6086
+62 (0286) 067-6851
+62-053-554-8560
(0345) 854 8315
+62 (0252) 430-7106
0823422141
+62-347-735-8751
(064) 752 7713
+62 (57) 825 4590
+62 (026) 040 4128
+62 (91) 405-3212
(0862) 031-2473
083 705 5535
+62 (021) 380 3560
+62 (78) 461-9074
+62 (480) 294-2802
0805268051
(015) 715-7539
083 190 6985
(0488) 656 4886
+62 (13) 384 3144
(042) 497-6185
(091) 936 2433
+62-042-232-7535
(0931) 627 0925
(0977) 739-9743
0805669980
+62 (569) 151 8368
+62-0740-177-2671
+62 (78) 550-7452
+62-0357-304-3422
0869016411
+62 (70) 363 6802
+62 (28) 556-6129
+62 (019) 919-9649
+62-75-708-0415
+62 (564) 749 7185
+62 (83) 944-1386
+62 (0196) 698-9506
+62 (0603) 366-8037
+62-037-361-1270
+62 (624) 011 2210
+62 (0685) 606 9130
+62 (742) 353 8251
(0353) 424 0603
(046) 870-6242
+62 (672) 752-9508
+62-604-094-6435
(0264) 951-7019
+62-0782-609-0229
089 435 5619
+62-082-111-9654
(012) 312-8544
0832270323
(0690) 694 4680
+62-0770-123-2720
(0847) 406 0934
(092) 429 4041
+62 (881) 609 8467
+62-077-432-5035
+62 (427) 762-4834
+62 (31) 628 4158
+62-010-297-2542
(0984) 022-8887
(028) 674-0825
+62 (040) 267-4452
+62-68-110-9436
+62 (686) 047-4489
+62 (056) 132 4418
(049) 344 0675
+62 (077) 795 1748
+62 (42) 687-5552
+62-183-469-3008
+62-0795-805-6755
+62 (040) 829-9820
(0861) 372-4694
+62 (039) 825-3607
+62 (0251) 421-9837
+62 (0547) 496-4881
+62-0705-529-8274
+62 (27) 981-2050
(0142) 127-9775
+62-49-777-5011
+62 (075) 678-7321
0851420258
+62 (690) 918 3656
+62-99-937-7360
0875870234
088 623 6658
+62 (404) 769-2133
080 482 1308
+62-063-756-0121
(0981) 342-7602
+62-057-050-2627
+62-19-880-5978
(072) 086 3508
+62-0652-899-6532
+62-82-232-1399
+62 (0255) 413 1918
083 025 3405
+62-953-866-2278
+62 (594) 566 7648
+62-0121-148-2179
+62 (071) 603 7676
+62 (357) 497 4430
+62 (790) 255-7696
+62 (90) 883 4904
+62 (0303) 330-2574
+62 (50) 529 6586
+62 (467) 494 1848
082 908 5555
+62 (0720) 666 6444
+62-0147-562-0915
+62-047-226-0191
(074) 362-3053
+62 (067) 207 7165
(0036) 683-9003
+62 (062) 755-7296
+62 (893) 032 1166
+62-058-430-7224
+62 (033) 043 9142
(0655) 616-7801
(0338) 566 8080
+62 (0133) 415 3205
+62-055-944-2089
0813830016
(025) 279-1507
+62 (364) 459-0675
+62 (0261) 890-4383
0819328036
+62-030-584-6213
087 136 9927
+62 (0757) 289 3319
+62-0007-105-4459
+62 (0484) 033 6812
(0694) 190 2309
+62-683-617-7729
086 497 5438
+62-0826-121-0555
(0871) 831-4519
+62-80-422-6123
+62 (084) 832-5816
+62 (083) 869 1103
+62 (84) 279-9806
+62-06-790-3931
+62-934-471-6607
+62 (070) 572 9405
(049) 484 4174
0841040134
+62-0260-922-0681
+62 (265) 242 9448
+62 (037) 195 1310
+62 (51) 761-5990
+62-434-129-2660
086 014 4192
+62-56-554-0285
0858602332
(015) 756-2612
+62 (045) 807 4395
+62-0046-606-6918
+62 (04) 323 7665
0885097972
+62-0925-196-7729
(0236) 987 0409
+62 (84) 503 5901
+62-0174-515-0220
+62 (0719) 505 1550
(041) 657 9709
(0856) 625 3604
+62 (0241) 228 8253
+62 (12) 698 0434
(0248) 675 9912
+62 (307) 371 2782
+62 (18) 240 9273
0888160028
(0787) 687-2552
+62 (51) 479 3979
087 711 2754
+62 (151) 259-4771
+62 (0455) 270-2137
+62 (408) 672 7958
+62 (0668) 892-2347
+62 (022) 640-6076
089 835 0590
+62 (004) 375-4718
(0654) 212 7405
(052) 951 0234
0846912536
(0064) 131 6063
+62 (86) 211-3319
0839071603
+62 (0529) 208 2154
+62 (081) 601-2933
088 973 7297
+62 (0787) 693-3436
0854530107
+62-094-845-3780
+62-0492-803-7920
(009) 459 3231
+62-077-172-0304
+62 (050) 474 5576
+62-593-934-8493
+62 (045) 850-7947
+62 (0493) 824-1883
088 325 1973
(021) 212 9172
(0004) 221 2476
+62 (0755) 847-3895
(021) 372-2017
(0021) 642-5476
0858533015
(094) 785 4388
+62-533-157-5751
+62-95-073-8533
(074) 692 7096
+62-07-686-6231
+62 (354) 745-2784
+62 (0547) 664-1909
+62 (099) 666-5373
+62-022-439-0194
+62 (0045) 775 2179
+62 (39) 041 5999
+62 (0345) 361 6933
+62 (0511) 817-3335
+62 (029) 935-2176
+62 (0522) 717 0342
+62-113-797-3009
+62-891-868-6621
+62 (519) 850 7214
+62 (038) 369 0414
(015) 926 6331
+62 (78) 596 2334
+62-0122-422-6898
(0932) 733 2967
0801678122
084 447 2497
(0241) 535 6106
+62 (001) 260 7790
+62-0396-226-3273
+62 (0896) 917-7255
+62-0255-750-5633
+62 (86) 307 9235
+62 (06) 132 1695
(078) 269-9276
+62 (03) 324 8241
+62 (0126) 566 2716
+62-25-724-5426
+62-0512-515-6755
+62-89-457-0329
+62-076-832-3910
+62-64-247-7060
083 505 4122
+62 (39) 735 0057
(019) 823-6909
(082) 173-5173
+62 (0130) 261 1079
088 893 5308
+62 (49) 745 2793
(032) 419-8426
(0854) 199 6568
+62-82-277-6537
0866668799
(093) 884-6694
+62-410-002-7368
+62 (0669) 564 9069
+62-78-122-0634
(0235) 197-1505
(0783) 686-7590
+62 (0797) 806-1584
087 458 6308
+62 (44) 265-0086
+62 (52) 319-7028
(0178) 026-4235
(034) 456-8775
(075) 081-7213
+62-0069-941-5750
(084) 630 3925
(010) 687-5892
(0562) 909 9841
+62-010-657-1388
+62 (054) 527 8496
+62 (013) 045 2729
(087) 473 3200
+62 (0814) 592 4043
+62 (97) 676 4093
+62 (035) 034-1166
0874102495
+62 (0578) 235-6295
(0355) 436 2970
(099) 609 8538
+62 (091) 898 9281
+62 (0563) 889 9191
(017) 404 2036
+62-56-964-4592
+62-0050-737-6635
+62 (062) 730-5853
+62 (564) 877 6019
+62 (0744) 254 0291
(094) 028 8888
(013) 163-7949
+62-064-557-2817
+62 (0022) 409 4405
+62-096-737-0394
(0067) 014-0005
(096) 845-6524
+62 (0690) 210-7215
+62 (0102) 460-0020
(061) 685-6305
+62 (0084) 401 6376
0856582273
(000) 540-5526
+62 (77) 572 7188
086 659 3820
(093) 403 1239
+62 (557) 730 3503
(060) 284 4022
+62-0709-479-1536
+62 (115) 457-1115
086 830 3840
+62 (391) 693-6806
0883760702
+62-093-099-8401
+62 (081) 545 4823
+62-410-450-3730
+62-013-696-8558
0875149678
(0381) 492-0572
+62 (688) 893-9825
+62-029-760-6939
+62-0853-177-9678
+62 (0122) 005-2568
+62 (095) 824 2004
083 509 7189
(051) 027-2416
+62-14-618-2214
+62 (09) 073 8534
+62-0897-913-3121
+62 (005) 530-7669
0839785977
(0737) 176-5819
+62-122-294-7574
(0528) 509-4378
+62 (280) 786-6382
+62 (487) 097 4208
+62 (061) 824-7672
(0281) 201 5156
(0541) 209 6151
+62 (442) 649-5832
(058) 254-2072
+62-004-785-9613
(0276) 271 3897
+62-01-255-9866
+62 (448) 978 1937
+62-83-572-7869
087 944 5596
(046) 741-6322
(0384) 917-9456
+62 (078) 868 1806
+62-0453-248-7523
0812569219
+62-431-233-6013
+62 (000) 341 9357
+62 (395) 182 8580
+62 (0660) 849-2180
(0587) 962-7432
+62 (051) 487-6739
(0924) 909 6878
085 407 5254
+62 (03) 877 4951
+62-005-339-6069
+62-0050-036-4113
+62 (436) 078 5769
+62 (944) 754-1831
(028) 388 2928
+62 (0039) 847 0137
(0975) 646-4787
+62 (86) 438 5785
+62 (241) 820 2375
(067) 087-8165
(066) 124-1832
(045) 768-7520
+62-0885-005-4409
(0874) 474-7451
+62-605-189-8028
(0786) 057-1248
(0937) 694 1272
+62 (736) 472 5778
(079) 803-3090
+62-392-907-1308
+62 (323) 922 3647
+62 (220) 947 1968
(084) 677-7668
+62 (597) 060 4335
+62 (068) 967 2609
+62-59-636-6499
+62-0986-334-7288
(009) 891-2996
(058) 207-5581
+62-91-470-6086
+62 (0195) 177-6170
+62 (054) 853 5455
+62-258-105-0502
080 735 4811
(046) 836 1809
+62-045-989-0271
+62 (090) 668 2020
+62-908-865-7418
(071) 082 6964
+62 (0851) 286 8467
0855486941
+62 (078) 949 9479
+62 (283) 140-1004
(0165) 988-5102
(0051) 024-8939
+62 (307) 726 4795
(096) 197-2516
0874915195
(042) 753 6560
0818400256
+62 (064) 202 6386
(0091) 070-8812
+62 (76) 055 7077
(094) 399-9769
(0723) 653 6874
+62 (007) 284-2734
+62-0609-978-6670
+62 (604) 180-9304
+62 (0786) 898 5957
(088) 224 7074
+62-76-793-4214
+62 (88) 543 0833
+62 (69) 402-0036
+62 (32) 748-9844
+62 (0571) 351 2587
+62-196-674-7834
+62 (16) 751 9126
+62 (51) 475-8396
+62 (045) 874-0634
+62 (56) 963-1016
+62-572-780-6952
0823268322
+62-799-059-2174
+62-078-206-6687
+62-50-607-6271
(020) 991-3140
(0048) 865-0722
(0025) 295-9140
(0512) 641-5489
+62 (152) 417-4397
+62 (0227) 560 9838
080 524 7598
+62-042-325-9855
(084) 351-9990
+62 (093) 231 4049
+62 (92) 983 6522
+62 (0499) 913-1501
+62-272-416-3884
+62 (06) 677 7420
+62 (0255) 747 3030
(043) 822-5222
+62 (0744) 437-8739
+62 (511) 463-9484
+62 (933) 684 4288
+62 (0183) 936 0633
087 284 3088
+62-240-582-7057
+62 (094) 042-7782
(0579) 332 5534
(045) 763 8899
+62 (025) 369-1802
+62 (075) 348-0479
084 049 9866
087 844 7206
+62 (002) 271 7713
+62-065-842-6196
+62 (366) 478 8077
+62 (37) 942 1348
+62-588-857-3696
+62 (077) 920 2109
082 696 0150
+62-61-088-3975
+62 (533) 840-3539
+62 (287) 969-3106
+62 (455) 824-7928
083 280 8493
(0140) 119-7865
(090) 634 1523
+62-094-146-5525
+62 (0940) 587-2135
081 184 6343
+62 (808) 173-1884
+62 (660) 954-5893
(065) 610-2636
+62-401-599-2555
(044) 414-7749
+62 (37) 399 7186
(032) 942 4408
+62 (188) 124 8151
(0570) 484-4158
+62 (011) 304 3112
+62 (0846) 152 9522
(073) 608-7249
(0819) 527 3604
(0752) 852 1555
+62-049-142-8683
0837926793
+62 (85) 079-1566
+62-371-546-8191
085 797 4438
+62 (0573) 364-2617
+62-043-103-0229
0899324468
+62 (0841) 552-2705
(046) 803-7010
+62 (0641) 206-5178
(020) 899 0562
(018) 914-5918
+62 (0055) 126-5819
+62 (033) 474-1367
(0175) 210-3844
+62 (0298) 114 0559
+62-040-719-4998
+62 (617) 981-7705
+62 (026) 413 2645
+62 (937) 472-7571
+62 (84) 357 6000
088 869 9749
(033) 797-5205
+62-21-098-9955
+62-146-024-4425
+62-061-636-0816
+62-0914-274-9595
+62 (0072) 199 0799
+62 (636) 064 9746
(077) 068-1940
(0317) 206-4045
083 544 9824
+62 (63) 172 2343
+62 (77) 263 0804
(098) 375 8099
(0083) 501-0356
(032) 708 2678
+62 (096) 801-1963
+62 (0838) 847 1747
+62 (177) 917 0510
+62 (0320) 116-7673
+62 (099) 843-4891
(033) 863 9076
088 445 8020
084 303 2036
+62 (0918) 357-7020
+62 (0164) 395-3472
083 473 6936
+62 (975) 615-8055
080 329 4897
(0349) 267 7945
+62 (55) 223 7562
+62 (0076) 755-6737
+62-0445-861-2557
+62 (42) 667 7213
+62-242-688-2373
+62 (24) 922 5374
081 521 5631
+62 (569) 712-6634
(021) 381 7589
+62 (015) 646 2247
+62-0855-508-5205
+62 (070) 206-4157
+62 (74) 115 9058
(074) 328-0111
+62 (98) 891 5389
+62 (0193) 635-0325
+62 (01) 185-4217
087 481 0802
+62 (0640) 078 9969
+62 (72) 683 9652
089 570 5656
+62 (022) 773 5204
(059) 169 0829
+62 (790) 621 0926
0831274683
+62 (0309) 008 6351
+62 (030) 095 4430
+62 (067) 385-7217
+62 (0090) 945-8881
+62 (80) 406 1419
082 605 4923
+62-0238-201-3522
+62 (65) 218-7525
083 095 2738
+62 (064) 369 3518
+62-823-702-3568
+62 (39) 994-0198
085 795 2612
+62-258-453-0532
+62 (096) 649 2932
0853516851
0885020360
+62-0471-180-7509
(0090) 995-0133
+62 (053) 464 3192
+62 (047) 103-3305
0802974675
+62 (61) 280 2630
086 732 1156
+62-51-446-5697
+62-039-794-1250
+62 (869) 208-6777
+62-558-618-7788
+62 (095) 487 9144
+62-082-851-1949
+62 (0304) 838-3063
+62-079-788-2070
+62 (0560) 170-4759
+62 (0003) 394-7594
(017) 865-1110
(006) 281 9439
+62 (073) 185-4694
+62 (049) 324 1405
+62 (051) 882 7317
(0461) 190 9924
+62-0828-431-7914
+62 (458) 914-7119
+62 (0026) 520 2648
+62-76-516-3699
(006) 594 9106
+62 (01) 726-9780
+62 (054) 897 3612
(0432) 938 4439
+62 (882) 374-0658
+62 (82) 389 8762
(0261) 865-2134
+62-020-724-3528
+62 (0288) 739-0366
+62 (0222) 166 3525
+62 (065) 586 8760
(075) 529 2831
+62 (0077) 830 1332
+62 (18) 716 2922
(0747) 015 5236
+62 (023) 405-8146
+62-092-947-7628
(0996) 592-9288
089 233 9788
+62-65-668-1319
(067) 783-6938
(055) 673 4453
+62-0168-205-7999
+62-79-932-8997
+62-057-168-8213
(067) 627-5509
+62-080-405-0059
+62 (019) 647 2679
+62 (78) 793 6551
+62 (0497) 743-6451
+62-76-451-6142
+62 (0788) 241-2624
+62-0361-385-9129
+62 (297) 565-4495
(076) 321-9679
+62 (072) 093 4248
(0199) 146 8282
+62 (0144) 019-3371
+62 (47) 118-2425
+62 (90) 363-3487
+62 (0437) 847-6494
0834473928
080 448 8129
+62 (22) 100-9057
+62 (11) 706-0126
+62-004-488-7844
+62 (47) 238-2039
+62 (0922) 219-8428
+62 (847) 886 2320
(021) 927 7369
0825793700
(090) 122 9258
(0580) 672-4822
(087) 286 4433
(029) 890-9338
086 106 4300
(0417) 794 1147
+62 (0056) 515 8480
+62-911-701-3125
+62-0029-049-5567
+62 (186) 979-5150
+62-099-047-3108
(0512) 353-6830
+62-071-100-3677
0853716056
(0490) 183-4471
+62 (0312) 774 7506
(0386) 463-5919
088 549 0972
+62 (045) 543 4364
(029) 822-2142
+62 (0774) 567 9329
+62 (020) 441-0681

In [140]:

def generate_user_for_learning():
    """This function generates real-world-like bank customer data."""
    gender = fake.random_element(elements=('M', 'F'))
    if gender == "F":
        first = fake.first_name_female()
        last = fake.last_name_female()
    else:
        first = fake.first_name_male()
        last = fake.last_name_male()
    return {
        "user_id": fake.uuid4(),
        "card_num":fake.bothify(text='##########'),
        "gender": gender,
        "first_name":first,
        "last_name": last,
        "email": fake.random_element(elements=(first, last))+fake.bothify(text='##')+'@'+fake.free_email_domain() if random.random() > 0.1 else None,
        "job": fake.job(),
        "card_type": fake.random_element(elements=('AMEX', 'MasterCard', 'Visa')),
        "address": fake.address(),
        "branch": fake.city(),
        "phone": fake.phone_number(),
        "birthdate": fake.date_of_birth(minimum_age=16, maximum_age=85),
        "country": "ID",
        "balance_usd": round(fake.pyfloat(left_digits=5, right_digits=2, min_value=2999, positive=True), 2)
                  # if random.random() > 0.05 else -1000.00
    }

In [141]:
users_df = pd.DataFrame([generate_user_for_learning() for _ in range(5000)])
users_df.head()

,user_id,card_num,gender,first_name,last_name,email,job,card_type,address,branch,phone,birthdate,country,balance_usd
0,76fc35df-262f-4951-994b-6fa82a80741d,7073208413,M,Prabu,Ardianto,None,"Surveyor, rural practice",MasterCard,"Jl. Kapten Muslihat No. 193\nMedan, BA 77911",Kota Administrasi Jakarta Utara,+62-831-872-3355,2001-07-05,ID,76709.68
1,b656b6c2-fab3-4ffe-a55f-bd92aa1857c1,8487887201,M,Nasab,Natsir,Nasab90@hotmail.com,Community arts worker,AMEX,"Gg. Rajawali Timur No. 108\nBanjarbaru, ST 30445",Dumai,+62-084-635-4659,1986-06-14,ID,53977.10
2,25499a00-df80-4c82-95e9-ab9bdcaa19a0,2781799564,M,Hardana,Prabowo,Prabowo21@yahoo.com,Media buyer,Visa,"Gg. Cempaka No. 1\nMeulaboh, JK 66695",Tasikmalaya,+62 (002) 031 3232,1986-09-12,ID,36796.88
3,f9c65214-f9cf-4097-972b-6ef555d81951,9168616819,F,Citra,Palastri,Palastri62@gmail.com,"Administrator, Civil Service",AMEX,"Gang H.J Maemunah No. 141\nBlitar, Kalimantan ...",Tangerang,+62 (81) 229-5152,1981-10-20,ID,8925.82
4,076efaae-286b-4bce-8315-beed1646371a,3259992496,M,Omar,Wacana,None,"Education officer, environmental",Visa,"Jl. Sukabumi No. 55\nBima, Maluku Utara 16324",Solok,+62 (78) 439 6553,1996-01-01,ID,12416.64

In [142]:
users_df.to_csv('base1.csv')

In [146]:
users_df

,user_id,card_num,gender,first_name,last_name,email,job,card_type,address,branch,phone,birthdate,country,balance_usd
0,76fc35df-262f-4951-994b-6fa82a80741d,7073208413,M,Prabu,Ardianto,None,"Surveyor, rural practice",MasterCard,"Jl. Kapten Muslihat No. 193\nMedan, BA 77911",Kota Administrasi Jakarta Utara,+62-831-872-3355,2001-07-05,ID,76709.68
1,b656b6c2-fab3-4ffe-a55f-bd92aa1857c1,8487887201,M,Nasab,Natsir,Nasab90@hotmail.com,Community arts worker,AMEX,"Gg. Rajawali Timur No. 108\nBanjarbaru, ST 30445",Dumai,+62-084-635-4659,1986-06-14,ID,53977.10
2,25499a00-df80-4c82-95e9-ab9bdcaa19a0,2781799564,M,Hardana,Prabowo,Prabowo21@yahoo.com,Media buyer,Visa,"Gg. Cempaka No. 1\nMeulaboh, JK 66695",Tasikmalaya,+62 (002) 031 3232,1986-09-12,ID,36796.88
3,f9c65214-f9cf-4097-972b-6ef555d81951,9168616819,F,Citra,Palastri,Palastri62@gmail.com,"Administrator, Civil Service",AMEX,"Gang H.J Maemunah No. 141\nBlitar, Kalimantan ...",Tangerang,+62 (81) 229-5152,1981-10-20,ID,8925.82
4,076efaae-286b-4bce-8315-beed1646371a,3259992496,M,Omar,Wacana,None,"Education officer, environmental",Visa,"Jl. Sukabumi No. 55\nBima, Maluku Utara 16324",Solok,+62 (78) 439 6553,1996-01-01,ID,12416.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,00c1908f-07ca-48e1-841b-e97a07eed87d,1130180293,M,Setya,Budiyanto,Budiyanto25@yahoo.com,"Pharmacist, community",Visa,"Gang Wonoayu No. 121\nPadang Sidempuan, JB 49780",Bau-Bau,+62 (080) 083-8160,1974-01-05,ID,21254.87
4996,f2b21a33-87f5-4768-ac09-ee6183eb9e7c,7808698759,M,Latif,Samosir,Latif64@gmail.com,"Investment banker, operational",MasterCard,"Gg. Sukajadi No. 13\nDepok, SR 54112",Kediri,+62 (408) 856 9776,1980-10-05,ID,22213.90
4997,bf4efc1b-5e88-4867-a356-81de5ff12ecd,0070540679,F,Ina,Purnawati,Ina21@gmail.com,Minerals surveyor,MasterCard,"Jalan Cempaka No. 2\nTual, SN 19449",Jambi,+62-0505-641-6034,2005-01-23,ID,20569.86
4998,f0c858d6-bae2-4138-b3ee-e0f44d348a8b,8080866060,M,Edi,Wijaya,Wijaya32@gmail.com,Mudlogger,AMEX,"Jalan Cihampelas No. 0\nSalatiga, LA 93970",Tomohon,+62-0661-110-2249,1997-12-24,ID,78912.21
4999,8768a228-4da7-4236-9766-3022e20a84e1,0060823363,F,Ami,Hassanah,Ami64@hotmail.com,Speech and language therapist,MasterCard,"Jalan Jayawijaya No. 7\nTarakan, KR 18436",Kotamobagu,0810330111,2003-07-02,ID,66600.10

In [284]:
def generate_trx(date):
    """This function generates real-world-like bank customer data."""
    type_trx = fake.random_element(elements=OrderedDict([("T", 0.45), ("D", 0.02), ("W", 0.02),]))
    idx = random.randint(0, 4999)
    idx_merch = random.randint(0, 498)
    if type_trx == "D":
        mult = 1
        merch = None
        product = None
    elif type_trx == "W":
        mult = -1
        merch = None
        product = None
    else:
        mult = -1
        merch = dim_merchant['Merchant ID'][idx_merch]
        product = dim_merchant['Product ID'][idx_merch]
    amount = round(fake.pyfloat(left_digits=3, right_digits=2, max_value=1000, positive=True), 2)*mult
    return {
        "date":date,
        "trx_id": fake.uuid4(),
        "user_id": users_df.user_id[idx],
        "trx_type": type_trx,
        "merchant_id":merch,
        'product_id':product,
        "amount": amount
        # ,
        # "balance_after_trx": users_df.balance_usd[idx]+amount
                  # if random.random() > 0.05 else -1000.00
    }

In [264]:
trxxx = pd.DataFrame([generate_trx() for _ in range(random.randint(500, 1000))])
trxxx.head()

,trx_id,user_id,trx_type,merchant_id,product_id,amount
0,50d04e6a-ae4e-4e31-b7d3-9c657e9404f1,22eb74c9-57fb-40e5-abad-3ce130f8580b,T,CA-2015-130792,OFF-AP-10000696,-824.83
1,88922ada-15db-47aa-970d-dfa49ec64a91,7e8b936e-07df-4214-bb18-7557fb9bf3f8,T,CA-2017-160514,OFF-PA-10002479,-718.80
2,ac3769f7-4169-45b5-abaa-d8aa156cdbc5,328319aa-b18b-49a5-8304-5d93c01b5924,T,CA-2014-139892,OFF-AR-10004441,-288.90
3,648ef7e7-61ef-4895-b42b-974b278c6a7d,9f4dafe1-954e-4fc4-baa6-e6b237bf54e8,T,US-2016-100419,OFF-BI-10002194,-265.20
4,ee0dcf46-e4dc-492e-88b2-ec153ed9e640,dd8a9d1c-c65d-41ea-8f1c-f447cafac671,T,CA-2015-169397,OFF-AR-10001958,-953.53

In [265]:
trxxx.user_id.nunique()

515

- fact_trx
- dim card
- dim account
- dim branch
- dim cust
- dim merchant

In [193]:
store = pd.read_csv('Sample - Superstore.csv', encoding='windows-1252')

In [196]:
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [210]:
dim_merchant = pd.read_csv('merchant.csv')

In [226]:
dim_merchant[dim_merchant['Merchant ID'] == 'CA-2017-144904']

,Unnamed: 0,Merchant ID,Product ID,Category,Sub-Category,Product Name
360,361,CA-2017-144904,OFF-LA-10001158,Office Supplies,Labels,"Avery Address/Shipping Labels for Typewriters,..."
361,362,CA-2017-144904,FUR-CH-10000785,Furniture,Chairs,Global Ergonomic Managers Chair
362,363,CA-2017-144904,OFF-AR-10003732,Office Supplies,Art,Newell 333
363,364,CA-2017-144904,FUR-FU-10000023,Furniture,Furnishings,Eldon Wave Desk Accessories

In [227]:
len(dim_merchant)

500

In [ ]:
trxxx = pd.DataFrame([generate_trx() for _ in range(random.randint(500, 1000))])
trxxx.head()

In [290]:
from datetime import date, timedelta

def daterange(start_date: date, end_date: date):
    days = int((end_date - start_date).days)
    for n in range(days):
        yield start_date + timedelta(n)

start_date = date(2025, 9, 1)
end_date = date(2025, 10, 1)

trxxx = pd.DataFrame()
for single_date in daterange(start_date, end_date):
    trxxx = pd.concat([trxxx, pd.DataFrame([generate_trx(single_date.strftime("%Y-%m-%d")) for _ in range(random.randint(500, 1000))])])
    # print(single_date.strftime("%Y-%m-%d"))

In [293]:
trxxx.to_csv('base2.csv')

In [1]:
trxxx

NameError: name 'trxxx' is not defined

In [282]:
fake.date_time_between_dates()

datetime.datetime(2025, 9, 15, 12, 26, 28)

In [289]:
pd.concat([pd.DataFrame(), trxxx])

,date,trx_id,user_id,trx_type,merchant_id,product_id,amount
0,2025-09-30,22a9c1ec-1ef9-4be8-bbb9-f5b22437ed52,5d296bf3-0f40-45c0-9cb8-a3aa5efff79d,T,US-2014-106992,TEC-MA-10000822,-764.13
1,2025-09-30,5713b52d-e121-4e98-9607-e8ecd96f5d61,4e763ab9-a23e-44c2-be3b-3c255ccca269,T,CA-2016-112697,OFF-BI-10000778,-656.88
2,2025-09-30,ac42224f-d0d5-4961-87b9-4f8effea050a,44e54bd9-3c55-487c-851f-2587adf0e4f3,T,US-2014-110674,FUR-CH-10000225,-584.81
3,2025-09-30,2f83c0a6-a8bb-4649-b093-92e2d1ab2ae6,54516ad6-fa8f-41f2-b16c-b6625c1ac179,T,CA-2017-157252,FUR-CH-10003396,-427.11
4,2025-09-30,6f51fceb-1c2b-4d65-83a0-a34d3f30756a,aa367b4a-44a1-4658-950c-52339c6978ce,T,CA-2016-109869,FUR-FU-10000023,-749.69
...,...,...,...,...,...,...,...
661,2025-09-30,506cdee8-6c36-422a-94bc-2bf5af1d6496,134f0f93-5bb7-4220-b81a-817d70107c1b,T,US-2015-159982,OFF-ST-10001590,-719.86
662,2025-09-30,e4c0cbad-c8bb-4a3d-b8a8-7fe4e36cd81a,f23fc768-59b0-47b9-8bbb-00688b45b780,T,CA-2016-162138,OFF-BI-10004593,-44.41
663,2025-09-30,fe7c2118-11f3-4781-b273-3bc1c231231b,e5417e3c-a021-41f3-8d2f-7bd0f49bc7dd,T,CA-2015-125395,TEC-AC-10004708,-523.28
664,2025-09-30,42b62019-6203-40f3-b06b-b037b4e9823d,46828e40-efa0-482b-b641-dc9b83b076c6,T,CA-2016-145583,FUR-FU-10001706,-163.54
665,2025-09-30,3a1d6c77-1733-4d60-804b-2c8965d4f9cd,1e0410cd-22b7-42e1-afd6-b1e349947bd9,T,CA-2017-132976,OFF-LA-10002043,-769.38