In [10]:
import pandas as pd
from sqlalchemy import create_engine, text
from pathlib import Path
import os

In [11]:
db_conn_str='postgresql+psycopg2://admin:admin@194.233.76.36:5432/postgres'

engine = create_engine(db_conn_str)

In [79]:
trx = pd.read_csv('base2.csv', index_col = 0)
acc = pd.read_csv('base1.csv', index_col = 0)
merchant = pd.read_csv('merchant.csv', index_col = 0)

In [92]:
trx.head()

,date,trx_id,user_id,trx_type,merchant_id,product_id,amount
0,2025-09-01,2d1d1635-2a4d-4d02-b474-51c27417c0f8,b2914eef-bf00-476f-8e00-059898e646e2,T,CA-2015-135545,OFF-PA-10003892,-861.11
1,2025-09-01,e8d4bdc9-04d4-4e73-8dee-5135f2611692,73951261-12f1-40ee-a19d-af77e3fbad4c,T,US-2016-125969,FUR-FU-10003773,-809.13
2,2025-09-01,ca5305ae-3a19-4695-994e-865b7a7f2dcb,714c0f29-f6e6-445c-879f-ce47a06164ef,T,CA-2017-102946,OFF-BI-10004492,-616.24
3,2025-09-01,9800c9d6-8a94-462a-b4b8-e6b53b129746,8bd41889-c496-49c8-9d47-6b408be91d48,T,US-2015-159982,TEC-PH-10001580,-843.68
4,2025-09-01,74351e35-11c0-4140-9e39-336027a38f38,0641d923-7388-4d83-810d-1dbc543e7011,T,CA-2014-139892,OFF-AP-10002518,-453.79

In [99]:
acc.dtypes

user_id                object
card_num                int64
gender                 object
first_name             object
last_name              object
email                  object
job                    object
card_type              object
address                object
branch                 object
phone                  object
birthdate      datetime64[ns]
country                object
balance_usd           float64
dtype: object

In [82]:
acc['address'] = acc['address'].replace({'\n':' '}, regex=True)

In [83]:
def remove0num(row):
    row = list(row)
    del row[2]
    return ''.join(row)

In [84]:
acc['phone'] = acc['phone'].replace(r'[-+() ]', '', regex=True)
acc['phone'] = acc['phone'].apply(lambda x: remove0num(x) if x[2] == '0' else x)

In [98]:
acc['birthdate'] = pd.to_datetime(acc['birthdate'])

In [63]:
acc['phone'] = acc['phone'].astype('int')

acc
- remove \n in address
- make rules to remove +-() to get number correctly

trx

In [74]:
aaa = 'xxyxxxxxy'

In [ ]:
trx.to_sql('silver_banking', self.engine, if_exists='replace', index=False, schema='silver')